<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>PW skills</h1>
    <h3>home page</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab enim similique
      nisi, iusto magnam, numquam omnis saepe aspernatur sequi animi, blanditiis
      assumenda? Exercitationem fugit eum officia doloremque eos voluptates ad
      similique culpa molestiae.
    </p>
  </body>
</html>
